// Color

$dark-grey: #333;
$grey: #666;
$light-grey: #ececec;

// Font

$alpha: 24px;
$alpha-line-height: 32px;

$beta: 20px;
$beta-line-height: 28px;

$gamma: 18px;
$gamma-line-height: 26px;


.alpha {
    font-size: $alpha;
    line-height: $alpha-line-height;
}

.beta {
    font-size: $beta;
    line-height: $beta-line-height;
}

.gamma {
    font-size: $gamma;
    line-height: $gamma-line-height;
}

// Text Styles

.text--center {text-align: center;}
.text--left {text-align: left;}
.text--right {text-align: right;}

.text--bold {font-weight: bold;}

// Margin

.push {margin: 10px;}
.push--top {margin-top: 10px;}
.push--bottom {margin-bottom: 10px;}
.push--left {margin-left: 10px;}
.push--right {margin-right: 10px;}
.push--clear {margin: 0;}

// Padding

.pull {padding: 10px;}
.pull--top {padding-top: 10px;}
.pull--bottom {padding-bottom: 10px;}
.pull--left {padding-left: 10px;}
.pull--right {padding-right: 10px;}
.pull--clear {padding: 0;}
