body {
    font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 0.85rem;
}
.container {
  display: flex;
  align-items: center;
  min-height: 400px;
  justify-content: center;
}
.vertikal {flex: none; max-width: 50%;}